---
interface Props {
  title: string;
  button: string;
  href?: string;
}

const { title, button, href = "/contacto" } = Astro.props;
---

<section class="bg-white py-20">
  <div class="container mx-auto px-4 text-center">
    <p class="mx-auto max-w-6xl text-2xl lg:text-4xl font-medium text-black">
      {title}
    </p>
    <a
      href={href}
      class="mt-6 inline-flex items-center justify-center rounded-full bg-primary
       px-8 py-3 lg:px-16 text-base lg:text-2xl font-medium text-white shadow-sm transition
       hover:bg-primary/90"
    >
      {button}
    </a>
  </div>
</section>
