<section class="bg-white py-20">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-2xl font-medium lg:text-4xl mb-6">
      Contáctanos para conocer cómo potenciar tus recursos energéticos
    </h2>
    <button
      class="mt-6 rounded-full bg-primary px-8 py-2 text-sm lg:text-lg font-medium text-white transition hover:bg-amber-600"
      type="button"
    >
      Contáctanos
    </button>
  </div>
</section>
