---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <section class="container mx-auto p-4 lg:px-0">
    <h1>Bienvenido a Volta</h1>
    <p>Tu plataforma de inversión en proyectos innovadores.</p>
  </section>
</Layout>
