---
import { Image } from "astro:assets";
import heroImage from "@assets/img/home/bgBannerHome.jpg";
---

<section class="relative text-white">
  <div class="absolute inset-0">
    <Image
      src={heroImage}
      alt="Paneles solares en campo"
      class="h-full w-full object-cover"
    />
    <div class="absolute inset-0 bg-black/50"></div>
  </div>
  <div class="relative container mx-auto px-4 py-24 text-center lg:py-40">
    <h1 class="text-3xl font-semibold text-primary lg:text-5xl">
      Soluciones energéticas integrales y de alto impacto
    </h1>
    <p class="mt-4 text-lg lg:text-2xl">
      Impulsando el futuro energético de México
    </p>
  </div>
</section>
