---
import { Image } from "astro:assets";
import highlightImage from "@assets/img/home/trabajadores.jpg";

interface Props {
  imageAlt: string;
  items: string[];
}

const { imageAlt, items } = Astro.props;
---

<section class="bg-primary text-white">
  <div class="grid gap-0 lg:grid-cols-[1.2fr_1fr]">
    <div class="h-64 lg:h-80">
      <Image src={highlightImage} alt={imageAlt} class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-col justify-center gap-4 px-6 py-8 text-base lg:px-10 lg:text-xl -order-1 lg:order-1"
    >
      {items.map((item) => <p>• {item}</p>)}
    </div>
  </div>
</section>
