---
interface Props {
  title: string;
  description: string;
  items: string[];
}

const { title, description, items } = Astro.props;
---

<section class="bg-white py-16 lg:py-24">
  <div class="container mx-auto px-4 text-center">
    <h2
      class="text-3xl font-bold text-primary lg:text-5xl max-w-4xl mx-auto leading-tight"
    >
      {title}
    </h2>
    <p class="mx-auto mt-4 max-w-4xl text-base text-black/70 lg:text-xl">
      {description}
    </p>

    <div
      class="mt-10 grid gap-6 sm:grid-cols-2 lg:grid-cols-3 max-w-4xl mx-auto"
    >
      {
        items.map((item) => (
          <div
            class="flex min-h-30 items-center justify-center rounded-3xl
            bg-[#D7E6F5] px-6 py-6 lg:py-10 text-sm font-medium text-slate-700 shadow-sm lg:text-base"
          >
            <p set:html={item} />
          </div>
        ))
      }
    </div>
  </div>
</section>
