---
import { Image } from "astro:assets";
import iconFactory from "@assets/svg/home/factory.svg";
import iconBuildings from "@assets/svg/home/courthouse.svg";

interface StatItem {
  value?: string;
  icon?: "factory" | "buildings";
  alt?: string;
  text: string;
}

interface Props {
  title: string;
  items: StatItem[];
}

const { title, items } = Astro.props;
const icons = {
  factory: iconFactory,
  buildings: iconBuildings,
};
---

<section class="bg-primary py-16 text-white">
  <div class="container mx-auto px-4">
    <h2 class="text-center text-2xl font-medium lg:text-4xl xl:text-5xl">
      {title}
    </h2>
    <div class="mt-10 grid gap-8 text-center md:grid-cols-2 lg:grid-cols-4">
      {
        items.map((item) => (
          <div class="flex flex-col items-center gap-3">
            {item.value ? (
              <p class="text-5xl lg:text-7xl font-semibold">{item.value}</p>
            ) : item.icon ? (
              <Image
                src={icons[item.icon]}
                alt={item.alt || ""}
                class="size-12 lg:size-20"
              />
            ) : null}
            <p class="text-base lg:text-xl text-white/80">{item.text}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
